@model RequisicaoModel
@using App.Extensions

@{
    ViewBag.Subtitulo = "Detalhes de Requisição";
    var txtcolor = "";

    if (Model.EstadoReq == Estado.Aprovado)
    {
        txtcolor = "text-success";
    }
    else if (Model.EstadoReq == Estado.Rejeitado)
    {
        txtcolor = "text-danger";
    }
    else
    {
        txtcolor = "text-secondary";
    }
}

<h1 class="text-primary">@ViewBag.Subtitulo</h1>
<hr>

<div class="row">
    <div class="col-2">
        <p>ID de Requisição: </p>
        <p>Produto Requirido: </p>
        <p>Data de Requisição: </p>
        <p>Quantidade Requerida: </p>
        <p>Valor Total de Requisição: </p>
        <p>Nome do Requisitante: </p>
        <p>Estado de Requisição:</p>
    </div>

    <div class="col">
        <p>@("IDMRQ" + Model.IdRequisicao.ToString("D2"))</p>
        <p>@Model.ProdutoName</p>
        <p>@Model.DataRequisicao</p>
        <p>@Model.Quantidade</p>
        <p>@Model.ValorTotal.ToString("C2")</p>
        <p>@Model.ColabName</p>
        <p><b class="@txtcolor">@Model.EstadoReq</b></p>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-light">Voltar</a>
    @if (Model.EstadoReq == Estado.Pendente && User.IsInRole("administrador"))
    {
        <a asp-action="Aprovar" asp-route-id="@Model.IdRequisicao" class="btn btn-sm btn-success">Aprovar <i
            class="bi-check" title="Aprovar"></i></a>
        <a asp-action="Rejeitar" asp-route-id="@Model.IdRequisicao" class="btn btn-sm btn-danger"> Rejeitar<i class="bi-x"
            title="Rejeitar"></i></a>
    }
</div>