@using System.Globalization
@model IEnumerable<ProdutoModel>
@{
    ViewBag.Subtitulo = "Produtos";
}

<header class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="text-primary">@ViewBag.Subtitulo</h1>
    </div>
    <div>
        <a asp-action="Criar" class="btn btn-primary">Novo Produto</a>
    </div>
</header>
<hr>

<partial name="_Mensagem"></partial>

@if (Model.Count() > 0)
{
    <table class="table table-striped tabela">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Nível</th>
                <th>Fornecedor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in Model)
            {
                <tr>
                    <td>@produto.Descricao</td>
                    <td>@produto.Valor.ToString("C2", CultureInfo.CreateSpecificCulture("pt-PT"))</td>
                    <td>@produto.Nivel.Classificacao</td>
                    <td>@produto.Fornecedor.Nome</td>
                    <td>
                        <a asp-action="Criar" asp-route-id="@produto.IdProduto"
                    class="btn btn-sm btn-secondary"><i
                        class="bi-pencil" title="Editar"></i></a>
                        <a asp-action="Excluir" asp-route-id="@produto.IdProduto" class="btn btn-sm btn-danger"><i class="bi-trash" title="Excluir"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhum produto.</p>
}