@model ColaboradorModel
@using App.Extensions

@{
    ViewBag.Subtitulo = "Perfil de Utilizador";
}

<h1 class="text-primary">@ViewBag.Subtitulo</h1>
<hr>

<div class="row">
    <div class="col-2">
        <p>Nome: </p>
        <p>Data de Nascimento: </p>
        <p>E-mail </p>
        <p>Telefone: </p>
    </div>

    <div class="col">
        <p>@Model.NomeCompleto</p>
        <p>@Model.DataNascimento.ToShortDateString()</p>
        <p>@Model.Email</p>
        <p>@Model.PhoneNumber</p>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-light"><i class="bi-arrow-left">Voltar</i></a>
    <a class="btn btn-primary" asp-controller="Requisicao" asp-action="Index" asp-route-id="@Model.Id">Requisições</a>
</div>